.Welcome {
  /* background-image: url("redditImage.png"); */
  background-color: rgb(24, 24, 24);
  border-style: solid;
  border-color: rgb(118, 123, 179);
  border-radius: 25px;
  opacity: 0.9;
  width: 90%;
  padding-bottom: 6.5%;
  padding-top: 1%;
  margin-bottom: 5%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0%;
}
.WelcomeCom {
  text-align: center;
  width: 75%;
  margin: auto;
  padding: 2%;
}
.mobileWelcomeText {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  width: 100%;
  padding: 5%;
  padding-bottom: 2%;
}
.HomePageBackground {
  /* background-image: url(memeBrain.jpg), url(memeDodge.jpg), url(memeSweat.jpg);
  background-position: left, center, right;
  background-size: 33.33%;
  background-repeat: no-repeat, no-repeat, no-repeat; */
  height: 100%;
  width: 100% !important;
  padding-bottom: 4%;
}
