.Countdown{
  margin: 10vh auto;
  /* padding-bottom: 20px; */
}

.Countdown-col{
  display: inline-block;
}

.Countdown-col-element{
  display: inline-block;
  margin: 0vh 2vh;
  display: flex;
  flex-direction: column;
}

.Countdown-col-element strong{
  font-size: 5vw;
  color: white;
}

.Countdown-col-element span{
  margin-top: 5vh;
  font-size: 2vw;
  color: white;
}