@font-face {
  font-family: "Steamy";
  src: url("./Steamy.otf");
}
.overeng {
  font-family: "Steamy", Fallback, sans-serif !important;
  font-size: 10vw !important;
  color: gold !important;
  margin-top: 0% !important;
  -webkit-text-stroke-width: 0.1vw;
  -webkit-text-stroke-color: goldenrod;
}
.theme {
  margin-top: 6.5% !important;
  color: white !important;
  font-size: 7vh !important;
  text-align: center;
}

.themeBox {
  margin-right: auto;
  margin-left: auto;
  width: 90%;
}

.title {
  height: 500px;
}

.date {
  color: violet !important;
  font-size: 2vw !important;
}

.intro {
  background-color: rgb(24, 24, 24);
  border-style: solid;
  border-color: rgb(118, 123, 179);
  border-radius: 25px;
  opacity: 0.9;
  width: 90%;
  padding-bottom: 5%;
  padding-top: 1%;
  /* margin-bottom: 5%; */
  margin-right: auto;
  margin-left: auto;
  margin-top: 0%;
}

.humHack {
  font-size: 10vw !important;
  color: black !important;
  -webkit-text-stroke-width: 0.1vw;
  -webkit-text-stroke-color: white;
  /* z-index: 2; */
}

.humDesc {
  font-size: 2vw !important;
  color: white !important;
  /* z-index: 2; */
}

.humBack {
  position: absolute;
  display: block;
  /* height:100%;
  width: 100%;
  z-index: 1; */
}

.themeDesc {
  color: white !important;
  font-size: 30px !important;
  /* margin-bottom: 20px !important; */
}

.prizeDesc {
  color: white;
}

.signUpButton {
  width: 90%;
  margin: auto;
  margin-top: 5%;
  box-shadow: 10px 10px 5px rgb(20, 20, 20);
}
.countDownTitle {
  margin: 2%;
}
.humHackDiv {
  margin: 1%;
}

.bold {
  font-weight: 900;
}

/* .overviewDiv {
  background: canvas(backgroundCanvas);
  height: 100%;
  width: 100% !important;
} */