@font-face {
  font-family: 'Steamy';
  src: url('./Steamy.otf');
}
.overeng {
  font-family: 'Steamy', Fallback, sans-serif !important;
  font-size: 10vw !important;
  color: gold !important;
  margin-top: 0% !important;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: goldenrod;
}
.theme {
  margin-bottom: 0% !important;
  color: white !important;
  font-size: 2.5vw !important;
}
.title {
  height: 500px;
}