.AboutUsWholePage {
  width: 100% !important;
  display: flex;
  justify-content: left;
  margin-bottom: 2%;
}
.forAdminProfileText {
  text-align: left !important;
}
.forAdminProfileImg img {
  margin-right: 0%;
  width: 75%;
  height: 75%;
  margin-left: auto;
  margin-right: auto;
  border-color: white;
  border-style: solid;
}
.forAdminProfileTextArea {
  border-color: white;
  border-style: solid;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5%;
}
.forAdminProfileTitle {
  /* margin-top: 3.5%; */
  text-align: center;
  background-color: rgb(0, 0, 0, 0.5);
}
.forAdminProfileContiner {
  display: flex;
  justify-content: center;
}
.forAdminProfile {
  display: flex;
  justify-content: center;
  flex: 1;
}
.forAdminProfileIcons {
  display: flex;
  justify-content: center;
  padding: 10%;
}
.forAdminProfileIcon {
  margin-right: 5%;
  margin-left: 5%;
}
.forBackgroundOfAdminProfile {
  background-color: lightgrey;
}
.forAboutUsBottomHalfOfPage {
  /* border-color: white;
  border-style: solid; */
}
.forAboutUsTitle {
  font-size: 250% !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}
.forAboutUsPara {
  width: 50%;
  margin: auto;
  margin-bottom: 2%;
  color: red !important;
}
