.App {
  text-align: center;
}
.fullWidth {
  width: 100%;
}
/* .Welcome {
  background-color: rgb(24, 24, 24);
  border-style: solid;
  border-color: rgb(118, 123, 179);
  border-radius: 25px;
  opacity: 0.9;
  width: 90%;
  padding-bottom: 6.5%;
  padding-top: 1%;
  margin-bottom: 5%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0%;
}
.WelcomeCom {
  text-align: center;
  width: 75%;
  margin: auto;
  padding: 2%;
} */
/* .bottomHalfOfPage {
  display: flex;
  justify-content: center;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}
.bottomHalfComL {
  display: flex;
  flex: 1;
  justify-content: center;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 6%;
  padding-top: 6%;
  background-color: rgb(24, 24, 24);
  border-style: solid;
  border-color: rgb(118, 123, 179);
  border-radius: 25px;
  opacity: 0.9;
  background-size: 100%;
  margin-right: 5%;
  text-align: center;
}
.bottomHalfComR {
  display: flex;
  flex: 1;
  justify-content: center;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 6%;
  padding-top: 6%;
  background-color: rgb(24, 24, 24);
  border-style: solid;
  border-color: rgb(118, 123, 179);
  border-radius: 25px;
  opacity: 0.9;
  background-size: 100%;
  text-align: center;
  margin-left: 5%;
} */
.redditImage {
  max-width: 45%;
}

.hundredPercent {
  /* width: 100%;
  height: 30%; */
}
.pageBackground {
  /* background-image: url(memeBrain.jpg), url(memeDodge.jpg), url(memeSweat.jpg);
  background-position: left, center, right;
  background-size: 33.33%;
  background-repeat: no-repeat, no-repeat, no-repeat; */
  /* background-image: radial-gradient(white, rgb(118, 123, 179)); */

  background-image: url("./images/prism.png");
  /* background: canvas(backgroundCanvas); */
  /* background-repeat: repeat; */
  height: 100%;
  width: 100% !important;
  padding-top: 2%;
  padding-bottom: 6.6%;
}
.hackathonBackgroundPC {
  background-image: url("./images/prism.png");
  /* background-repeat: repeat; */
  height: 100%;
  width: 100% !important;
  padding-top: 2%;
  padding-bottom: 6.6%;
}
.MobilePageBackground {
  /* background-image: url(memeBrain.jpg), url(memeDodge.jpg), url(memeSweat.jpg);
  background-position: left, center, right;
  background-size: 33.33%;
  background-repeat: no-repeat, no-repeat, no-repeat; */
  /* background-image: radial-gradient(white, rgb(118, 123, 179)); */
  background-image: url("./images/prism.png");

  /* background: canvas(backgroundCanvas); */
  /* background-repeat: repeat; */
  height: 100%;
  width: 100% !important;
  padding-bottom: 2%;
  padding-bottom: 15.5%;
}
.hackathonBackgroundMobile {
  background-image: url("./images/prism.png");
  /* background-repeat: repeat; */
  height: 100%;
  width: 100% !important;
  padding-bottom: 2%;
  padding-bottom: 15.5%;
}

/* .forFooter {
  background-color: rgb(24, 24, 24);
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  padding-left: 1%;
  margin: auto;
}
.footer img {
  width: 4%;
  height: 4%;
  opacity: 0.5%;
  margin-left: 1%;
  margin-right: 1%;
}
.footer button {
  margin-left: 2%;
  margin-right: 2%;
  max-height: 2%;
}
.footer {
  padding-left: 7%;
  display: flex;
  justify-content: center;
  text-align: center;
}
.mobileFooter {
  display: flex;
  justify-content: center;
  text-align: center;
} */
/* .forCurrentEvent {
  text-align: center;
} */
.navBar {
  background-color: rgba(20, 20, 20, 0.5) !important;
}
.forNavBar {
  width: 100% !important;
  border-style: solid;
}
.forFooterButtonsWithIcons {
  padding: 40%;
}
/* .mobileBottomHalfOfPage {
  align-content: center;
  width: 90%;
  margin: auto;
} */
/* .mobileBottomHalfComL {
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 10%;
  padding-top: 10%;
  background-color: rgb(24, 24, 24);
  border-style: solid;
  border-color: rgb(118, 123, 179);
  border-radius: 25px;
  opacity: 0.9;
  background-size: 100%;
  margin-right: 5%;
}
.mobileBottomHalfComR {
  margin-right: 5%;
  margin-left: 5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 6%;
  padding-top: 6%;
  background-color: rgb(24, 24, 24);
  border-style: solid;
  border-color: rgb(118, 123, 179);
  border-radius: 25px;
  opacity: 0.9;
  background-size: 100%;
  text-align: center;
} */
.overviewDiv {
  z-index: -1;
  image-rendering: canvas(backgroundCanvas);
  height: 100%;
  width: 100% !important;
}