.forFooterBackground {
  background-color: rgba(20, 20, 20, 0.5) !important;
  position: absolute;
  left: 0;
  right: 0;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 2%;
  padding-right: 1%;
  margin: auto;
}
.forFooterWidth {
  width: 75%;
}
.footer img {
  width: 35% !important;
  height: 80% !important;
  opacity: 0.5%;
  margin-left: 1%;
  margin-right: 1%;
  margin: auto;
}
.footerButton {
  margin-left: 1% !important;
  margin-right: 1% !important;
  border-style: solid !important;
  border-color: lightgrey !important;
  border-radius: 25px !important;
}
.footer {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 75%;
  margin-left: 7%;
}
.mobileFooter {
  display: flex;
  justify-content: center;
  text-align: center;
}
