.App {
  text-align: center;
}

.fullWidth {
  width: 100%;
}

.redditImage {
  max-width: 45%;
}

.pageBackground {
  background-image: url("./images/prism.png");
  height: 100%;
  width: 100% !important;
  padding-top: 2%;
  padding-bottom: 6.6%;
}

.hackathonBackgroundPC {
  background-image: url("./images/prism.png");
  height: 100%;
  width: 100% !important;
  padding-top: 2%;
  padding-bottom: 6.6%;
}

.MobilePageBackground {
  background-image: url("./images/prism.png");
  height: 100%;
  width: 100% !important;
  padding-bottom: 2%;
  padding-bottom: 15.5%;
}

.hackathonBackgroundMobile {
  background-image: url("./images/prism.png");
  height: 100%;
  width: 100% !important;
  padding-bottom: 2%;
  padding-bottom: 15.5%;
}

.ui.active.visible.item.dropdown {
  margin-bottom: 50vw;
}

.navBar {
  background-color: rgba(20, 20, 20, 0.5) !important;
}

.forNavBar {
  width: 100% !important;
  border-style: solid;
}

@media (max-width: 768px) {
  .forNavBar {
    margin-bottom: 100vw;
  }
}

.forFooterButtonsWithIcons {
  padding: 40%;
}

.overviewDiv {
  z-index: -1;
  image-rendering: canvas(backgroundCanvas);
  height: 100%;
  width: 100% !important;
}