.App {
  text-align: center;
}

.fullWidth {
  width: 100%;
}

.redditImage {
  max-width: 45%;
}

#pageBackground {
  background-image: url("./images/prism.png");
  height: 100%;
  width: 100%;
}

.desktopPageBackground {
  padding-bottom: 5.3%;
}

.mobilePageBackground {
  padding-bottom: 15.5%;
}