.welcome {
  font-size: 40px !important;
}

.description {
  color: #ccc !important;
}

.goToHackathonButton {
  background-color: #5d5f82 !important;
  margin-top: 3vh !important;
  margin-bottom: 6vh !important;
  padding-top:20px !important;
  padding-bottom:20px !important;
  padding-right:55px !important;
  padding-left:55px !important;
}

.welcContainer {
  min-height: calc(100vh);
}

.welcContainer_content {
  height: fit-content;
}