.forFooterBackground {
  background-color: rgba(20, 20, 20, 0.5) !important;
  position: absolute;
  left: 0;
  right: 0;
  padding-top: 1%;
  padding-bottom: 1%;
  margin: auto;
}

.forFooterBackgroundMobile {
  background-color: rgba(20, 20, 20, 0.5) !important;
  position: absolute;
  left: 0;
  right: 0;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-top: 5%;
  margin: auto;
}

.forFooterWidth {
  width: 75%;
}

.footer img {
  width: 50% !important;
  height: 75% !important;
  opacity: 0.5%;
  margin: auto;
}

.footerButtonForImage {
  width: 10%;
  margin-left: 1% !important;
  margin-right: 1% !important;
}

.footerButton {
  margin-left: 1% !important;
  margin-right: 1% !important;
  margin-top: auto;
  margin-bottom: auto;
}

.footer {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 75%;
  margin: auto;
}

.mobileFooter {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 75%;
  margin-left: 7%;
  margin-top: 5%;
  margin: auto;
}

.fiftyWidth {
  margin-left: 50%;
  margin-right: auto;
  height: 5% !important;
}

.forFollowUsFont {
  font-family: "Times New Roman", Times, serif !important;
}

.forFollowUsDiv {
  margin-top: 1%;
}

.forMarginMobile {
  margin-bottom: 3%;
}