.theme {
  color: white !important;
  font-size: 35px !important;
  text-align: center;
  margin-top: 10px;
}

.scrollDown {
  z-index: 500;
}

#Sponsors {
  background-color: rgb(27, 27, 27);
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 150px;
}

.intro {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prizeBox {
  margin-left: 20px;
  margin-right: 20px;
  height: 140px;
  margin-bottom: 150px;
}

#firstPlace {
  background-color: #4f5c75;
}

#secondPlace {
  background-color: #424d61;
}

#thirdPlace {
  background-color: #333b4a;
}

#FAQ {
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 150px;
}

#Rules {
  margin-top: 100px;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 150px;
}

.dropDown {
  color: white;
  border-color: white;
  border-width: 2px;
  border-style: solid
}

.date {
  color: greenyellow !important;
  font-size: 25px !important;
}

@media (max-width: 768px) {
  .countdownNum {
    font-size: 9vw !important;
  }

  .countdownDisc {
    margin-top: 6px !important;
    font-size: 20px !important;
  }

  .segment {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  .humHack {
    font-size: 15vw !important;
    color: white !important;
  }

  .humDesc {
    font-size: 25px !important;
    color: greenyellow !important;
  }
  .signUpButton {
    margin-top: 10px;
    box-shadow: 10px 10px 5px rgb(20, 20, 20);
  }
  .prizeDesc {
    /* width: 50%; */
    margin: auto;
    /* padding-bottom: 150px; */
    color: white;
    font-size: 17.5px;
  }
  .themeDesc {
    color: white !important;
    font-size: 20px !important;
  }
  #Sponsors {
    background-color: rgb(27, 27, 27);
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 50px;
    margin-top:50px;
  }
  .prizeBox {
    margin-left: 20px;
    margin-right: 20px;
    height: 140px;
    margin-bottom: 0;
  }
  #Rules {
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 50px;
  }
  #FAQ {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 100px;
  }
  .dropText {
    white-space: normal !important;
    width: 92vw;
  }
}

@media (min-width: 768px) {

  .humDesc {
    font-size: 75px !important;
    color: greenyellow !important;
  }

  .intro {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
  }

  .scrollDown {
    margin-top: 10px !important;
  }

  .date {
    font-size: 45px !important;
  }

  .signUpButton {
    margin-top: 100px;
    box-shadow: 10px 10px 5px rgb(20, 20, 20);
  }

  .prizeDesc {
    width: 50%;
    margin: auto;
    padding-bottom: 150px;
    color: white;
    font-size: 17.5px;
  }
  .themeDesc {
    color: white !important;
    font-size: 30px !important;
  }
}

.title {
  height: 500px;
}

.humBack {
  position: absolute;
  display: block;
}

.bold {
  font-weight: 900;
}

.divForOverview {
  position: absolute;
  top: 0;
  left: 0;
}

.canvasForOverview {
  width: 100%;
  height: 100%;
}