.theme {
  color: white !important;
  font-size: 65px !important;
  text-align: center;
  margin-top: 10px;
}

#Sponsors {
  background-color: rgb(27, 27, 27);
  padding-top: 50px;
  padding-bottom: 50px;
}

.intro {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.date {
  color: violet !important;
  font-size: 5vw !important;
}

@media (max-width: 768px) {
  .countdownNum {
    font-size: 9vw !important;
  }

  .countdownDisc {
    margin-top: 20% !important;
    font-size: 5vw !important;
  }

  .humHack {
    font-size: 15vw !important;
    color: white !important;
  }

  .humDesc {
    font-size: 5vw !important;
    color: white !important;
  }
}

@media (min-width: 768px) {

  .humHack {
    font-size: 10vw !important;
    color: white !important;
  }

  .humDesc {
    font-size: 3vw !important;
    color: white !important;
  }

  .intro {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
  }

  .scrollDown {
    margin-top: 10vh !important;
  }

  .date {
    color: violet !important;
    font-size: 2vw !important;
  }
}

.title {
  height: 500px;
}

.humBack {
  position: absolute;
  display: block;
}

.themeDesc {
  color: white !important;
  font-size: 30px !important;
}

.prizeDesc {
  width: 50%;
  margin: auto;
  padding-bottom: 100px;
  color: white;
  font-size: 17.5px;
}

.signUpButton {
  box-shadow: 10px 10px 5px rgb(20, 20, 20);
}

.bold {
  font-weight: 900;
}

.divForOverview {
  position: absolute;
  top: 0;
  left: 0;
}

.canvasForOverview {
  width: 100%;
  height: 100%;
}